# Created by venv; see https://docs.python.org/3/library/venv.html

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual environment
env/

# Django
*.log
staticfiles/
media/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env